h2 {
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    color: rgb(58, 58, 58);
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(58, 58, 58);
}

body {
    background-color: rgb(221, 221, 221);
    color: rgb(83, 83, 83);
    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
    font-family: 'Righteous', cursive;
}

header {
    text-align: center;
}

header p {
    text-align: center;
}

form {
    text-align: left;
}

.navigation {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
    padding: auto;
    text-align: center;
    background-color: rgb(160, 158, 158);
}

#skills1 li {
    border: 2px solid rgb(29, 29, 29);
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.ExperinceList {
    background-color: lightgrey;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.emphasis {
    font-style: italic;
    color: rgb(165, 164, 164);
}

#messages li {
    background-color: lightgrey;
    border-radius: 2px;
    display: block;
    flex-direction: column;
    padding: 1rem;
}

#messages button {
    background-color: rgb(63, 62, 62);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
}

.label {
    color: gray;
    font-weight: 500;
    margin: 0.25rem;
    display: block;
}

.input {
    padding: 0.5rem 0.5rem;
    width: 100%;
    display: block;
}

.buttonSubmit {
    color: black;
    background-color: grey;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
}

.fa {
    padding: 10px;
    width: 50px;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    background: rgb(194, 193, 193);
}

.fa:hover {
    opacity: 0.7;
}

.ConnectEffect {
    list-style-type: none;
    text-align: center;
}

.ConnectEffect li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.responsiveImg {
    width: 100%;
    height: auto;
}